body{
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    width: 300px;    
}

.nav{
    background-color: #0099ff;
    height: 100px;
}

.navLink{
    text-decoration: none;
    color: white;
}

.titulos{
    font-size: 1.5em;
    color: #0073BF;
}

.foodCont{
    border: 1px solid #0099ff;
    border-radius: 4px;
    height: 75px;
}

.titTxt{
    color: #004d80;
    font-weight: bold;
}

.contTxt{
    font-size: 0.95em;
}

.boton{
    color: #004d80;
    border: 2px solid #004d80;
    background-color: white;
    font-weight: bold;
    padding: 5px 5%;
}

.boton:hover{
    color: white;
    background-color: #004d80;
}

.aForIcon{
    text-decoration: none;
}

.textoInicio{
    font-size: 1.5em;
}

.textos{
    font-size: 1.2em;
}

.flecha:hover{
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}